@model ML.Drink
@{
    ViewData["Title"] = "GeAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<div class="container">
    <section>
        <h2>Módulo Cocktel</h2>
        <p>
            Catalogo de los mejores cockteles 
        </p>
    </section>
  
    <section>
        @if (Model.Drinks == null)
        {
            <div class="row">
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Message
                </div>
            </div>
        }
        else
        {


            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <td class="text-center" style=" font-weight:bold;">Editar</td>

                        <td class="visually-hidden">idDrink</td>
                        <td class="text-center" style="font-weight:bold;">strDrink</td>
                        <td class="text-center" style=" font-weight:bold;">strCategory</td>
                        <td class="text-center" style=" font-weight:bold;">strInstructions</td>
                        <td class="text-center" style=" font-weight:bold;">strDrinkAlternate</td>
                        <td class="text-center" style=" font-weight:bold;">strIBA</td>
                        <td class="text-center" style=" font-weight:bold;">strAlcoholic</td>
                        <td class="text-center" style=" font-weight:bold;">strGlass</td>
                        <td class="text-center" style=" font-weight:bold;">strTags</td>
                        <td class="text-center" style=" font-weight:bold;">strImageSource</td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (ML.Drink drink in Model.Drinks)
                    {
                        <tr>

                            <td class="visually-hidden">@drink.idDrink</td>
                            <td class="text-center">@drink.strDrink</td>
                            <td class="text-center">@drink.strCategory</td>
                            <td class="text-center">@drink.strInstructions</td>
                            <td class="text-center">@drink.strDrinkAlternate</td>
                            <td class="text-center">@drink.strIBA</td>
                            <td class="text-center">@drink.strAlcoholic</td>
                            <td class="text-center">@drink.strGlass</td>
                            <td class="text-center">@drink.strTags</td>
                            <td class="text-center">@drink.strImageSource</td>
                      


                        </tr>
                    }
                </tbody>
            </table>

        }



    </section>
</div>*@



